
.idea/

nodes_modules/

tmp

public/tmp

node_modules/body-parser/
node_modules/cookie-parser/
node_modules/debug/
node_modules/express/
node_modules/jade/
node_modules/morgan/
node_modules/request/
node_modules/serve-favicon/
node_modules/socket.io/
node_modules/.bin/