/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/

li {
  display: inline-block;
}

#userUp, #emailUp, #passwordUp, #postalUp {
  display: none;
  color: green;
}

#changeform {
  padding-left: 5px;
  padding-bottom: 5px;
  border:1px solid black;
}

#signout {
  display: none;
}

#myaccount-button {
  display: none;
}

#mysuccess {
  color: green;
  display: none;
}

#myerror {
  color: red;
  display: none;
}

input.ng-invalid {
  background-color: pink;
}
input.ng-valid {
  background-color: lightgreen;
}

.spe {
  text-align: center;
  font-size: 80px;
  padding-top: 150px;
  margin-bottom: 150px;
}



body {
  background: url(../img/page-background.png);
}
.section {
  padding-top: 30px;
  margin-bottom: -30px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.section-white {
  background: #FFF;
}
.section .container:first-child h1,
.section .container:first-child h2,
.section .container:first-child h3 {
  margin-top: 0;
  font-weight: 700;
}
.input-micro {
  width: 50px;
  margin-bottom: 0 !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(79, 141, 179, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  color: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
}
ul.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
ul.no-list-style li {
  line-height: 28px;
}
div[class*="span"] {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}
/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #535b60;
}
h1 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h2 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  border-bottom: 2px solid #53555c;
  line-height: 1.5em;
  margin: 30px 0;
  padding-left: 10px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  font-size: 1.5em;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  margin-bottom: 10px;
}
a {
  color: #4f8db3;
}
a:hover {
  color: #2f556d;
}
/*--------------------------------------------------------------------------
+	Services Style
--------------------------------------------------------------------------*/
/* Multicolumn */
.service-wrapper {
  background: #FFF;
  margin: 20px 10px;
  text-align: center;
  padding: 30px 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #999;
  -moz-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  color: 0 0 3px #999;
}
.service-wrapper h3 {
  font-size: 1.2em;
  margin: 10px 0 !important;
}
.service-wrapper p {
  margin-top: 0;
}
/* Row */
.service-wrapper-row {
  padding: 10px 0;
}
.service-wrapper-row h3 {
  padding-top: 15px;
}
.service-wrapper-row .service-image {
  padding-top: 15px;
  text-align: center;
}
.service-wrapper-row .service-image img {
  max-width: 80%;
  vertical-align: bottom;
  bottom: 0;
  border: 7px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  color: 0 0 8px #999;
}

/*--------------------------------------------------------------------------
+	Testimonials Style
--------------------------------------------------------------------------*/
.testimonial blockquote {
  margin: 0;
  padding: 0;
  border-left: none;
}
.testimonial blockquote p {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.5;
}
.testimonial .testimonial-bubble {
  text-align: justify;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  margin: 35px 10px 20px 10px;
  background: #FFF;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .testimonial-bubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: -10px;
  left: 45%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonial .author-photo {
  text-align: center;
}
.testimonial .author-photo img {
  margin: auto;
  border: 5px solid #FFF;
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 1px 2px #c8cfe6;
  color: inset 0 1px #fff,0 1px 2px #c8cfe6;
}
.testimonial .author-info {
  font-weight: 400;
  font-size: 0.8em;
}


/*--------------------------------------------------------------------------
+	'In Press' Style
--------------------------------------------------------------------------*/
.in-press a {
  color: #4f8db3;
  font-size: 30px;;
  font-family: Georgia, serif;
  line-height: 28px;
  position: relative;
  padding-left: 16px;
  padding-bottom: 32px;
  margin-bottom: 15px;
  display: block;
}



/*--------------------------------------------------------------------------
	Footer Style
--------------------------------------------------------------------------*/
.footer {
  background: #222;
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  border-top: 4px solid #4f8db3;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
}
.footer h3 {
  color: #E4E4E4;
  font-size: 1.3em;
  border-bottom: 1px dotted #7C7C7C;
}
.footer ul {
  padding: 0;
}
.footer-navigate-section li {
  line-height: 20px !important;
}
.footer-stay-connected a {
  text-align: left;
  text-indent: -9999px;
  display: block;
  width: 115px;
  height: 40px;
  background: url(../img/stay-connected.png);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.footer-stay-connected a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer-stay-connected a.facebook {
  background-position: -115px 0;
}
.footer-stay-connected a.twitter {
  background-position: -230px 0;
}
.footer-stay-connected a.googleplus {
  background-position: 0 0;
}
.footer-stay-connected li {
  text-align: center;
}
.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  border-top: 1px dotted #7C7C7C;
  padding-top: 10px;
  font-size: 0.9em;
}

/*--------------------------------------------------------------------------
+	Main Menu Style
--------------------------------------------------------------------------*/
.mainmenu li.logo-wrapper a {
  border-right: 1px solid #E8E8E8;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.mainmenu-wrapper {
  background-color: #FFF;
  border-bottom: 4px solid #4f8db3;
  z-index: 4;
}
.mainmenu {
  width: 100%;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mainmenu > ul,
.mainmenu {
  margin: 0 auto;
}
.mainmenu > ul > li,
.mainmenu  > li {
  display: inline-block;
  *display: inline;
}
.mainmenu > ul > li > a,
.mainmenu > li > a {
  font-size: 1.2em;
  padding: 1.2em 1.5em;
  color: #999;
  display: inline-block;
  text-decoration: none;
}
.mainmenu > ul > li > a:hover,
.mainmenu > li > a:hover {
  color: #4f8db3;
  text-decoration: none;
}
.mainmenu > ul > li.active > a,
.mainmenu > li.active > a {
  color: #4f8db3;
  font-weight: 600 !important;
}
