<div class="mainmenu-wrapper">
  <div class="container" ng-controller="headerCtrl">
    <nav id="mainmenu" class="mainmenu">
      <ul>
        <li class="active">
          <a href="#/">Home</a>
        </li>
        <li id="project-btn">
          <a href="#/project">The Project</a>
        </li>
        <li id="api-btn">
          <a href="#/api">Our API</a>
        </li>
        <li id="whatsnext-btn">
          <a href="#/whatsnext">What's Next?</a>
        </li>
        <li id="signin">
          <a href="#/signin">Sign in</a>
        </li>
        <li id="myaccount-button">
          <a href="#/myaccount">My Account</a>
        </li>
        <li id="signup">
          <a href="#/signup">Sign up</a>
        </li>
        <li id="signout" ng-click="signOut()">
          <a href="#/" onclick="signOut()">Sign out</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
