<!-- Presentation -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="in-press">
          <a>A simple solution to follow any conversation</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="in-press">
          <a>Discover our API and develop your modules</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="in-press">
          <a>Change the language, subtitle your life as you please</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Presentation -->

<!-- Services -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <img src="img/service-icon/diamond.png" alt="Service 1">
          <h3>Netsil on your glasses</h3>
          <p>Just download the application on your glasses and start using it right away.</p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <img src="img/service-icon/ruler.png" alt="Service 2">
          <h3>Netsil.API</h3>
          <p>Use our api to develop your own speech-to-text application. It's fast, and easy.</p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <img src="img/service-icon/box.png" alt="Service 3">
          <h3>Live subtitles</h3>
          <p>Our next project will include live translation for as many languages as we can put our hands on. Find out more.</p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Services -->

<!-- Testimonials -->
<div class="section">
  <div class="container">
    <h2>The team</h2>
    <div class="row">
      <!-- Testimonial -->
      <div class="testimonial col-md-4 col-sm-6">
        <!-- Author Photo -->
        <div class="author-photo">
          <a href="https://www.linkedin.com/in/tom-sordat-bbba16101/en" target="_blank"><img src="img/sordat_t.jpg" alt="Author 1"></a>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <!-- Quote -->
            <!-- Author Info -->
            <cite class="author-info"> - Sordat Tom,<br>Chef de projet <br>Responsable de la communication </cite>
          </blockquote>
          <div class="sprite arrow-speech-bubble"></div> </div>
      </div>
      <div class="testimonial col-md-4 col-sm-6">
        <div class="author-photo">
          <a href="https://fr.linkedin.com/in/francoispala" target="_blank"><img src="img/pala_f.png" alt="Author 2"></a>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <cite	class="author-info"> - François Pala,<br><br>Développeur web<br></cite>
          </blockquote>
          <div class="sprite arrow-speech-bubble">

          </div>
        </div>
      </div>
      <div class="testimonial col-md-4 col-sm-6">
        <div class="author-photo">
          <a href="https://www.linkedin.com/in/gabriel-poulet-de-grimouard-a0565172" target="_blank"><img src="img/poulet_g.jpg" alt="Author 3"></a>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <cite class="author-info"> - Gabriel Poulet-Degrimouard,<br><br>Développeur R&D<br></cite>
          </blockquote>
          <div class="sprite arrow-speech-bubble">
          </div>
        </div>
      </div>
      <div class="testimonial col-md-4 col-sm-6">
        <div class="author-photo">
          <a href="https://kr.linkedin.com/in/guillaume-tassery-23771a6a/en" target="_blank"><img src="img/tasser_g.jpg" alt="Author 3"></a>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <cite class="author-info"> - Guillaume Tassery,<br><br>Directeur Technique<br></cite>
          </blockquote>
          <div class="sprite arrow-speech-bubble">
          </div>
        </div>
      </div>
      <div class="testimonial col-md-4 col-sm-6">
        <div class="author-photo">
          <a href="" target="_blank"><img src="img/fabre_p.jpg" alt="Author 3"></a>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <cite class="author-info"> - Paul Fabre,<br><br>Développeur Android<br></cite>
          </blockquote>
          <div class="sprite arrow-speech-bubble">
          </div>
        </div>
      </div>
      <div class="testimonial col-md-4 col-sm-6">
        <div class="author-photo">
          <a href="https://cn.linkedin.com/in/alexy-hody-b0b9489a/en" target="_blank"><img src="img/alexy.jpg" alt="Author 3"></a>
        </div>
        <div class="testimonial-bubble">
          <blockquote>
            <cite class="author-info"> - Alexy Hody,<br><br>Développeur opérationnel<br></cite>
          </blockquote>
          <div class="sprite arrow-speech-bubble">
          </div>
        </div>
      </div>
      <!-- End Testimonial -->
    </div>
  </div>
</div>

<script src="js/template.js"></script>
