<div class="project" ng-controller="pageCtrl">
  <div class="container">
    <h1>THE PROJECT</h1>
    <h2>"Netsil is born from the desire to bring technology and help together"</h2>
    <h3>
      This project sprouted in our school - Epitech - as a 2 year long project marking the end of our studies.</br></br>
      Started by Guillaume Tassery as a way to fight a disability affecting him along with 10% of french citizen, he quickly realised the power of smart glasses in the helping of disabled people.</br></br>
      The rest of us quickly joined in, interested in the idea of using our skills to create a potentially revolutionizing toolf for millions of people.</br></br>
      After a year of trying to figure out our approach towards the building of such an application and writing preparation documents, we started developing what would soon become our beta version, a simple android-based speech-to-text tool to try out the power of our server-based speech treatment algorithms.</br></br>
      The principle is simple:</br>
      &nbsp;1. Press the record button on the application.</br>
      &nbsp;2. Talk.</br>
      &nbsp;3. See it appear, live, on your screen.</br></br>
      That was the first version. A simple way to try out the stuff we had developped throughout the year, while we were all styduying around the world.
    </h3>
  </div>
</div>
