<div class="signup">
  <div class="container basic-login">
    <form ng-app="myApp" ng-controller="signupCtrl" ng-submit="myVal()" name="signupForm">
      <p>Username:<br>
        <input type="text" name="user" ng-model="user" required username-directive><br>
        <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
        <span ng-show="myForm.user.$error.required">Username is required.</span>
        </span>
      </p>
      <p>Email:<br>
        <input type="email" name="email" ng-model="email" required>
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span ng-show="myForm.email.$error.required">Email is required.</span>
        <span ng-show="myForm.email.$error.email">Invalid email address.</span>
        </span>
      </p>
      <p>Password:<br>
        <input type="password" id="signupPw" name="password" ng-model="password" required password-directive><br>
      </p>
      <br>
      <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  myForm.email.$dirty && myForm.email.$invalid"> <!--onclick="sendSignUp()" !-->
    </form>
    <p id="mysuccess">Account created! You can now log in with your credentials.</p>
    <p id="myerror">Couldn't create the account. Try with a different username / address, because the current ones might already be used.</p>
  </div>
  <div class="container spe">
    Welcome
  </div>
</div>
