<div class="signin">
  <div class="container basic-login">
    <form ng-app="myApp" ng-controller="signinCtrl" ng-submit="myVal()" name="signinForm">
      <p>Username:<br>
        <input type="text" ng-model="user" name="user" required>
        <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
          <span ng-show="myForm.user.$error.required">Username is required.</span>
        </span>
      </p>
      <p>Password:<br>
        <input type="password" id="signinPw" ng-model="password" name="password" required><br><br>
      </p>
      <p>
        <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid">
      </p>
      <p id="myerror">
        The request couldn't be processed. Check the Username, the password, and be sure you have been registered.
      </p>
    </form>
  </div>
  <div class="container spe">
    Welcome Back
  </div>
</div>
