<div class="api" ng-controller="pageCtrl">
  <div class="container">
    <h1>WHAT'S NEXT</h1>
    <h2>Let's share ideas on what to do next with this technology.</h2>
    <h3><b>Live Translation.</b></br></br>
      We want to use the power of speech to text on smart glasses combined with the power of computer-generated translation to power a live translation tool in the near future.</br></br>
      With the programs we already have, pluging a live-translation module is not too hard. The challenges are to keep our processing speed the same, and being able to detect, change and pick-up any language around - no matter your accent or weird expressions.</br></br>
      This tool in our hand - and on your eyes - not only would you be able to read every conversation, but understand it as well. No need to take on norwegian 6 months before your trip to Oslo anymore!

  </div>
</div>
